/* PLAIN HTML TAG STYLING */
body{
    background:#577504;
    color:#DBF29A;
    font:14px sans-serif;
}

a:link, a:visited{
    color:#CBF260;
}
a:hover{
    color:#A5D916;
}

/* PAGE STRUCTURE ELEMENTS */

header{

}

footer{
    font-size:12px;
    text-align:center;
}

/* NAVIGATION STYLING */